* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* dark mode */
body.dark {
    background-color: #092635;
}

.theme-controller {
    display: none;
}

.swap-off {
    display: block;
}

.swap-on {
    display: none;
}

.theme-controller:checked ~ .swap-on {
    display: block;
}

.theme-controller:checked ~ .swap-off {
    display: none;
}